* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 5px;
    color: #777;
    text-decoration: none;
}

.nav a:hover {
    background-color: white;
}

.main-nav {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid white;
}

.main-nav li {
    padding: 0 5%;
}

.main-header { 
    background-image: url(background2.jpg);
    background-size: cover;
    padding-bottom: 20px;
}

.bigheader {
    text-align: center;
    margin: 0;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 50px;
}

.section-header { 
    margin: 0px auto;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.section-header1 {
    color: white;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
}


p {
    background-color: white;
    color: grey;
    margin: 0px auto;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
 
}

.about-paige { 
    float: left;
    height: auto;
    width: 250px;
    margin: 15px;
    border-radius: 50%;
    border: black;
    border-style: dotted;   
}

h3 {
    margin: 0px auto;
    color: black;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
}

main {
    padding: 10px;
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
   
}


.mainfooter {
    background-color: black;
    color: white;
    padding: 10px;
}

.main-footer {
    display: flex;
    align-items: center;

}

.main-footer ul {
    flex-grow: 1;
    text-align: end;
}

.main-footer li {
    display: inline;
    align-items: center;
    padding: 10px;
}

.box1, .box2, .box3, .box4 {
    box-sizing: border-box;
    text-align: center;
    border: black;
    border-radius: 8px; 
    border-style: dotted;  
    margin-left: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.box1 {
    width: 80%;
}

.box2, .box3, .box4 {
    width: 30%;
}
